* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
    color: blue;
    height: 100vh;
}

.roshni {
    height: 100%;
}

.flexer {
    display: flex;
    height: 100%;
    width: 100%;
}